body {
    font-family: glyphicon;
    font-size: medium;
}

#rubrikDiv {
    background-color: white;
    /*height: 15em;*/
    text-align: left;
    font-size: 3em;
    padding: 1em 1em 1em 1em;
}

.container-fluid {
    background-color: #0b1f2e;
}

.form-group navbar-left {
    padding-top: 1em;
}

.form-group {
    padding: 1em 1em 1em 1em; 
}

.textboxes {
    padding: 3px 3px 3px 3px;
    padding-top: 2px;
}

