body {
    font-family: glyphicon;
    font-size: medium;
}

#rubrikDiv {
    background-color: white;
    /*height: 15em;*/
    text-align: left;
    font-size: 3em;
    padding: 1em 1em 1em 1em;
}

.container-fluid {
    background-color: #0b1f2e;
}

.form-group navbar-left {
    padding-top: 1em;
}
.form-group {
    padding: 1em 1em 1em 1em; 
}

.container {
    padding: 0 0 0 0;
}
.textboxes{
    padding: 3px 3px 3px 3px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 3px;
    
}

.panel-head {
   color: #0b1f2e;
}
.panel-body{
    text-align: left;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.dropdown-menu {
    background-color: #2774ab;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}


.footerSticky {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 140px;
    /*line-height: 60px;*/
    /* Vertically center the text there */
    background-color: #0b1f2e;
    
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.containerFooter {
    width: auto;
    padding: 15px 15px 15px 15px;
    text-align: center;
}

.text-muted {
    padding: 15px 15px 15px 15px;
}

.masterContainer {
    padding: 20px 0 20px 0;
}